@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Nunito", sans-serif;
}

/* Invoice print function */
@media print {
  /* Ẩn các phần không cần thiết khi in */
  body * {
    /* display: none; */
    visibility: hidden;
  }
  #invoice,
  #invoice * {
    /* display: block; */
    visibility: visible;
  }
  /* Đặt kích thước giấy in */
  @page {
    size: A4;
    margin: 0;
  }
  /* Xóa các margin và padding mặc định */
  body {
    margin: 0;
    padding: 0;
  }
}

/* #invoice {
  width: 210mm;
  height: 297mm;
  margin: auto;
  font-family: Arial, sans-serif;
  line-height: 1.5;
} */

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

/* Alert */
.loading {
  display: block !important;
}
.success {
  color: #20a020;
}
.danger {
  color: #a02020;
}
.alert {
  padding: 1rem;
  border: 0.1rem solid transparent;
  border-radius: 0.5rem;
}
.alert-info {
  color: #2020a0;
  background-color: #e0e0ff;
}
.alert-danger {
  color: #a02020;
  background-color: #ffe0e0;
}
.alert-success {
  color: #20a020;
  background-color: #eeffe0;
}

/* Rating */
.rating span {
  color: #f0c040;
  margin: 0.1rem;
}
.rating span:last-child {
  color: #404040;
}

/* Order status */
span.pending {
  background-color: #f2dede;
  color: #a94442;
}

span.processing {
  background-color: #fdf6b2;
  color: #c27803;
}

span.shipped {
  background-color: #dff0d8;
  color: #3c763d;
}

span.delivered {
  background-color: #d9edf7;
  color: #31708f;
}

span.cancelled {
  background-color: #f5f5f5;
  color: #333;
}
